
<div class="w-full h-full flex flex flex-col gap-4">


  <div class="w-full h-20 bg-white flex flex-row items-center px-3 gap-2" >

    <li class="pi pi-tags text-gray-600" style="font-size: 2.5rem;"></li>
    <div class="w-full flex flex-col">
      <span class="font-bold text-gray-700 text-xl">Productos</span>
      <span class="font-semibold text-gray-500">Modulo de gestión de productos</span>

    </div>

  </div>

  <div class="w-full flex flex-col p-2 gap-4">

    <div class="w-full flex flex-row gap-2 flex-wrap">

      <div class="w-[200px] cursor-pointer gap-2 px-2 py-2 border border-solid border-green-400 rounded-lg bg-green-200 flex flex-row items-center" >
        <div class="icon-size bg-white rounded-full flex items-center justify-center"   >
          <span class="font-semibold text-gray-500" >5</span>
        </div>
        <span class="font-semibold text-gray-600">Total productos</span>
      </div>

      <div class="w-[200px] cursor-pointer gap-2 px-2 py-2 border border-solid border-gray-400 rounded-lg bg-gray-200 flex flex-row items-center" >
        <div class="icon-size bg-white rounded-full flex items-center justify-center"   >
          <span class="font-semibold text-gray-500" >8</span>
        </div>
        <span class="font-semibold text-gray-600">Activos</span>
      </div>

      <div class="w-[200px] cursor-pointer gap-2 px-2 py-2 border border-solid border-gray-400 rounded-lg bg-gray-200 flex flex-row items-center" >
        <div class="icon-size bg-white rounded-full flex items-center justify-center"   >
          <span class="font-semibold text-gray-500" >2</span>
        </div>
        <span class="font-semibold text-gray-600">Inactivos</span>
      </div>

      <div class="w-[200px] cursor-pointer gap-2 px-2 py-2 border border-solid border-gray-400 rounded-lg bg-gray-200 flex flex-row items-center" >
        <div class="icon-size bg-white rounded-full flex items-center justify-center"   >
          <span class="font-semibold text-gray-500" >1</span>
        </div>
        <span class="font-semibold text-gray-600">Traslados</span>
      </div>

    </div>

    <div class="w-full">


      <div class="w-full flex flex-row items-center gap-2 mb-2">


        <div class="w-[200px] h-10 bg-white rounded-full border border-gray-100 px-2 flex items-center justify-between"  >

          <mat-icon class="">search</mat-icon>

          <input type="text" placeholder="Filtar" autocomplete="off" class="appearance-none outline-none border-none bg-transparent p-0 m-0 text-sm flex-1">

        </div>


        <p-button (onClick)="actualizarRegistros()" icon="pi pi-sync" [rounded]="true" severity="help" />

        <p-button icon="pi pi-file-excel" [rounded]="true" severity="success" />

      </div>


      <app-table-products ></app-table-products>


    </div>


  </div>


</div>

