 .p-2-not-first > :not(:first-child) {
    padding: 8px !important;
  }


  .icon-size{
    --tam : 40px;

    height: var(--tam);
    width: var(--tam);
    max-width: var(--tam);
    max-height: var(--tam);
    min-height: var(--tam);
    min-width: var(--tam);

  }
