.iconsize {
  --tam : 14px;
  width: var(--tam);
  min-width: var(--tam);
  max-width: var(--tam);
  height: var(--tam);
  min-height: var(--tam);
  max-height: var(--tam);


}

.bgActivo {
  background-color: oklch(79.2% 0.209 151.711);
}

.bginactivo {
  background-color: oklch(63.7% 0.237 25.331);
}

.bgTraslado{
  background-color: oklch(70.5% 0.213 47.604);
}
