<div class="flex h-full w-[300px] bg-[#753BBD]">
<div class="w-full h-full  flex" style="max-height: calc(100% - 65px);">

        <div class="flex flex-col w-full h-full">
            <div class="flex items-center justify-between px-6 pt-4 shrink-0">


                  <div class="h-[50px] max-h-[50px]">
                    <img src="assets/images/logo.jpg" class="w-full h-full object-contain" alt="logo">
                  </div>


                <div class="mt-4">
                    <p-button type="button"  icon="pi pi-times" rounded="true" outlined="true" styleClass="h-8 w-8"></p-button>
                </div>
            </div>
            <div class="overflow-y-auto">
                <ul class="list-none p-4 m-0">
                    <li>
                        <div
                            pRipple
                            pStyleClass="@next"
                            enterFromClass="hidden"
                            enterActiveClass="animate-slidedown"
                            leaveToClass="hidden"
                            leaveActiveClass="animate-slideup"
                            class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                        >
                            <span class="font-medium text-white">Movimientos</span>
                            <i class="pi pi-chevron-down text-white" ></i>
                        </div>
                        <ul class="list-none p-0 m-0 overflow-hidden">
                            <li>
                                <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                    <i class="pi pi-home mr-2 text-white" ></i>
                                    <span class="font-medium text-white"  >Productos</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                    <i class="pi pi-bookmark mr-2 text-white"></i>
                                    <span class="font-medium text-white" >Historial</span>
                                </a>
                            </li>





                        </ul>
                    </li>
                </ul>

            </div>

        </div>

</div>

</div>
